# config and logs
venv/*
.env
.env.*
.vscode
.pytest_cache
*.log

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django files
*.py~
db.sqlite3
*.sqlite3
media
static
__pycache__
*.egg-info/
dist/
build/
*.egg

# Migrações do Django
**/migrations/*.py
**/migrations/*.pyc
**/migrations/*/__pycache__

# Any pycache related
*/tests/__pycache__/*

