[MASTER]
load-plugins=pylint_django

[FORMAT]
max-line-length=119         # Maximum number of characters on a single line.
max-module-lines=1000
indent-after-paren=4
indent-string='    '


[TYPECHECK]
ignored-modules=django  # Ignorar erros E1101 (no-member) do Pylint

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring
