Django==2.1.5
django-environ==0.4.4
djangorestframework==3.9.0
django-polymorphic==2.0.3
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
pycodestyle==2.4.0
coverage==4.5.2
pytest==4.0.1
pytest-cov==2.6.0
pytest-watch==4.2.0
pytest-django==3.4.5
unipath==1.1
